body {
    display: flex;
    flex-direction: row;
    background-color: #e0e0e0;
}

.top {
    width: 100%;
    height: 50%;
    background-color: #3737FF;
}

.waves {
    /* background-image: url('../wave.svg'); */
    /* height: 100%;
    width: 100 */
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
    user-select: none;
}

.overlay {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay-child {
    position: fixed;
    background-color: white;
    width: 40rem;
    height: 50rem;
    border-radius: 10px;
    /* box-shadow: 10px 10px 5px 0px rgba(114, 114, 114, 0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(114, 114, 114, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(114, 114, 114, 0.75); */
}

.circle.error {
    height: 6rem;
    width: 6rem;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-child {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titles.error {
    text-align: center;
    margin: 0;
}

.buttons.error {
    display: flex;
    justify-content: center;
}

.button.create.error {
    width: 10rem;
}

.button.create.decrypt {
    width: 15rem;
}

.button.create.decrypt:active {
    background-color: rgb(17, 7, 107);
}

.circle.file {
    background-color: #3737FF;
}

.circle.file:hover {
    cursor: default;
}

.warning {
    width: 100%;
    height: 2rem;
    background-color: red;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.warningtext {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
}

.direction.warning {
    background: transparent;
    color: white;   
    text-align: center;
}