.circle.stage4 {
    background: #17eb3a;
}

.circle.stage4:hover {
    cursor: auto;
}

.title.stage4 {
    text-align: center;
}

.center.stage4 {
    margin-top: 1.5rem;
    text-align: center;
}

.input.stage4 {
    margin-top: 2rem;
}

.buttons.stage4 {
    display: flex;
    justify-content: center;
}
